.faq-section{
    padding: 20px;

    .title{ 
        font-weight: bold;
        padding-left: 15px;
        }

    .accordion{
        font-size: $fontSize;
        background-color: #fff;
        color: $textColor1;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        text-align: left;
        border: none;
        outline: none;
        transition: 0.4s;
        border-bottom: 1px solid $divider;

        &::after {
        content: url(../images/icon-arrow-down.svg);/* Unicode character for "plus" sign (+) */
        font-size: $fontSize;
        float: right;
        margin-left: 5px;
        }

        &:hover {
            color: $accordioArrow;
        }
             
    }

    /* Style the accordion panel. Note: hidden by default */
    .panel {
    font-size: $fontSize;
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

   .active{
    font-weight: bold;
   } 
    
}