.faq-section{
    padding: 20px;

    .title{ 
        font-weight: bold;
        margin-top: 0;
        }

    .accordion{
        font-size: $fontSize;
        background-color: #fff;
        color: $textColor1;
        cursor: pointer;
        padding: 18px 18px 18px 0;
        width: 100%;
        text-align: left;
        border: none;
        outline: none;
        transition: 0.4s;
        border-bottom: 1px solid $divider;
        
        &::after {
        content: url(../images/icon-arrow-down.svg);/* Unicode character for "plus" sign (+) */
        font-size: $fontSize;
        float: right;
        margin-left: 5px;
        }

        &:hover {
            color: $accordioArrow;
        }
             
    }

    /* Style the accordion panel. Note: hidden by default */
    .panel {
    font-size: $fontSize;
    width: 90%;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

   .active{
    font-weight: bold;
    border-bottom: none;

    &::after {
        content: url(../images/icon-arrow-down.svg);
        transform: rotate(180deg);
    }
    .faq-section .panel {
        border-bottom: 1px solid $divider; 
    }
   } 
    
}