.floating-box {
    position: relative;
    top: 50px;
    left: 65px;
    z-index: 1000;
}

.image-section{

    position: relative;  
    .main-img{
        position: relative;
        margin-left: -28%;
        
    } 
    
}