// Variables
$textColor1: hsl(238, 29%, 16%);
$textColor2: hsl(237, 12%, 33%);
$textColor3: hsl(240, 6%, 50%);
$accordioArrow: hsl(14, 88%, 65%);

$fontFamily: 'Kumbh Sans', sans-serif;
$fontSize: 12px;

$bgGradientColor1: hsl(273, 75%, 66%);
$bgGradientColor2: hsl(240, 73%, 65%);

$divider: hsl(240, 5%, 91%);





// Accordion Styles
// Page styles