@import "./variables";
@import "./accordion";

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

body{   
     @include flexCenter();
    font-family: $fontFamily;
    background-image: linear-gradient($bgGradientColor1, $bgGradientColor2);
    height: 100vh;
    
}

.wrapper{
    @include flexCenter();
    background-color: white;    
    width: 75%;
    padding: 50px;
    border-radius: 20px;
}