@import "./variables";
@import "./accordion";
@import "./leftside";

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

body{   
     @include flexCenter();
    font-family: $fontFamily;
    background-image: linear-gradient($bgGradientColor1, $bgGradientColor2);
    height: 100vh;
    
}

.wrapper{
    @include flexCenter();
    background-color: white;    
    width: 70%;
    max-width: 1200px;
    padding: 50px;
    border-radius: 20px;
    background-image: url(../images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    overflow: hidden;
    background-position: -8600% 65%;
}